p>img
{
    height: 200px;
    width: 150px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    background-color: yellow;
    box-shadow: 5px 5px 5px blue;
}
p>img:hover
{
    background-color: red;
    box-shadow: 5px 5px 20px green ;

}