
          strong {
             color: brown;
          }
          em.doan1
          {
             color: red;
          }
          em.doan2
          {
             color: green;
          }
          em.doan3
          {
             color: blue;
          }


          