.menu{
    padding:0 px;
    margin:5px;
    list-style:none;
    border-radius:3px;
    box-shadow:0px 0px 2px red;
}
.menu a{
    background: url("icon3.png") no-repeat 10px center ;
    display: block;
    border-bottom: 1px dotted orangered;
    color: orangered;
    font-variant: small-caps;
    font-size: larger;
    text-decoration: none;
    padding: 8px 5px 8px 30px;
}
.menu a:hover{
    background: url("icon3.png") no-repeat 10px center;
    border-bottom: 1px dotted white;
    background-color: orangered;
    color: white;
    font-weight: bold;
}